/* ---- SECTION ----*/

.statistics {
  text-align: center;
  background-color: $grisVioleta2;
  margin-top: -75px;
  padding-bottom: 80px;
}

.boost__links {
  height: 290px;
  text-align: center;
  background-color: $morado;
  background-image: url(/assets/images/bg-boost-mobile.svg);
}