/* ---- TITLE ----*/

.title {
  color: $grisNegro;
}

.info__title {
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 47px;
}

.statistics__info--title {
  font-size: 27px;
  margin-top: 80px;
}

.cards_title {
  margin-top: 55px;
}

.boost__title {
  color: white;
  font-size: 26px;
}