/* ---- VARIABLES ----*/
/* colores */
/* Font */
/* ---- MIXINS ----*/
/* ---- BODY ----*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@media screen and (min-width: 375px) {
  body {
    width: 375px;
  }
}
/* ---- HEADER ----*/
/* ---- FOOTER ----*/
.footer {
  background-color: #35323e;
  text-align: center;
  padding: 50px 0;
}

/* ---- SECTION ----*/
.statistics {
  text-align: center;
  background-color: #f2f2f3;
  margin-top: -75px;
  padding-bottom: 80px;
}

.boost__links {
  height: 290px;
  text-align: center;
  background-color: #3b3054;
  background-image: url(/assets/images/bg-boost-mobile.svg);
}

/* ---- DIV ----*/
/* main */
.main1 {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
}

.main__info {
  text-align: center;
}

.shorten_links {
  width: 325px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: #3b3054;
  background-image: url(/assets/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: 120px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.statistics__info {
  padding-top: 80px;
}

.statistics__cards {
  margin-top: 60px;
}

.cards {
  width: 290px;
  height: 210px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  position: relative;
}

.cards:nth-of-type(1) {
  margin-top: 100px;
}

.card_img {
  background-color: #3b3054;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -43px;
  left: 122px;
  width: 88px;
  height: 85px;
  box-sizing: border-box;
  padding-top: 20px;
}

.line_separate {
  height: 90px;
  width: 7px;
  background-color: #2acfcf;
  margin: 0 auto;
}

.cards__pgraph {
  padding: 0 10px;
}

.boost__info {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.footer__title {
  color: white;
}

.footer__links {
  height: 150px;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__social-media {
  width: 170px;
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

/* ---- NAV ----*/
/* ---- Link ----*/
.footer__link {
  color: #bfbfbf;
  font-weight: 500;
  text-decoration: none;
}

/* ---- List ----*/
.footer__list {
  /*ul*/
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.footer__list li {
  margin-bottom: 10px;
}

/* ---- TITLE ----*/
.title {
  color: #232127;
}

.info__title {
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 47px;
}

.statistics__info--title {
  font-size: 27px;
  margin-top: 80px;
}

.cards_title {
  margin-top: 55px;
}

.boost__title {
  color: white;
  font-size: 26px;
}

/* ---- PGRAPHS ----*/
.pgraph {
  color: #9e9aa7;
}

.info__pgraph {
  margin-top: 0;
  font-size: 18px;
  padding: 0 30px;
}

.statistics__info--pgraph {
  padding: 0 25px;
  line-height: 27px;
  font-size: 16px;
}

/* ---- Span ---- */
.icon-menu {
  font-size: 29px;
  color: #9e9aa7;
}

/* ---- Button ----*/
.button:hover {
  cursor: pointer;
}

.info__button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #2acfcf;
  border: none;
  border-radius: 50px;
  margin-top: 18px;
  margin-bottom: 80px;
}

.sl__button {
  width: 100%;
  padding: 13px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #2acfcf;
  border: none;
  border-radius: 10px;
}

.boost__button {
  margin: 0;
  width: 183px;
  margin: 0 auto;
}

/* ----- icons ---- */
/* ---- Form ----*/
.input__links {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #35323e;
  font-weight: 500;
}

/* ---- Image ----*/
.main_image__image {
  width: 130%;
  padding: 20px 0 20px 40px;
}